<form enctype="multipart/form-data" [formGroup]="formulario" (ngSubmit)="submitForm()">
  <div class="col-md-6 col-sm-12 col-lg-6">
      <app-form-group-input [form]="formulario" [label]="'Atributo - 1'" 
      [field]="'atributo1'" formControlName="atributo1" ngDefaultControl>
      </app-form-group-input>

      <app-form-group-input [form]="formulario" [label]="'Valor Atributo - 1'"
      [field]="'valorAtributo1'" formControlName="valorAtributo1" ngDefaultControl>
      </app-form-group-input>
      <hr>

      <app-form-group-input [form]="formulario" [label]="'Atributo - 2'" 
      [field]="'atributo2'" formControlName="atributo2" ngDefaultControl>
      </app-form-group-input>

      <app-form-group-input [form]="formulario" [label]="'Valor Atributo - 2'"
      [field]="'valorAtributo2'" formControlName="valorAtributo2" ngDefaultControl>
      </app-form-group-input>
      <hr>

      <app-form-group-input [form]="formulario" [label]="'Atributo - 3'" 
      [field]="'atributo3'" formControlName="atributo3" ngDefaultControl>
      </app-form-group-input>

      <app-form-group-input [form]="formulario" [label]="'Valor Atributo - 3'"
      [field]="'valorAtributo3'" formControlName="valorAtributo3" ngDefaultControl>
      </app-form-group-input>
      <hr>

      <app-form-group-input [form]="formulario" [label]="'Atributo - 4'" 
      [field]="'atributo4'" formControlName="atributo4" ngDefaultControl>
      </app-form-group-input>

      <app-form-group-input [form]="formulario" [label]="'Valor Atributo - 4'"
      [field]="'valorAtributo4'" formControlName="valorAtributo4" ngDefaultControl>
      </app-form-group-input>
      <hr>

      <app-form-group-input [form]="formulario" [label]="'Atributo - 5'" 
      [field]="'atributo5'" formControlName="atributo5" ngDefaultControl>
      </app-form-group-input>

      <app-form-group-input [form]="formulario" [label]="'Valor Atributo - 5'"
      [field]="'valorAtributo5'" formControlName="valorAtributo5" ngDefaultControl>
      </app-form-group-input>

  </div>
  <div class="col-md-6 col-sm-12 col-lg-6">
        <app-form-group-input [form]="formulario" [label]="'Titulo da Carta'" 
        [field]="'tituloCarta'" formControlName="tituloCarta" ngDefaultControl>
        </app-form-group-input>

        <app-form-group-input [form]="formulario" [label]="'Número da Carta'" 
        [field]="'numeroCarta'" formControlName="numeroCarta" ngDefaultControl>
        </app-form-group-input>

        <app-form-group-select [form]="formulario" [label]="'Publicar carta para todos?'" 
        [field]="'publico'" formControlName="publico" [options]="[{label:'Sim',value:true},{label:'Não',value:false}]" ngDefaultControl>
        </app-form-group-select>

        <div class="form-group">
            <label class="control-label" for="modelo">Modelo</label>
            <br>
            <label class="control-label" *ngFor="let model of models">
                <img height="150" src="{{environment.apibaseurl}}/model/{{model}}">
                <input formControlName="modeloSelecionado" type="radio" [value]="model">
            </label>
        </div> 

        <app-file-upload (onImageSelect)="selectImage($event)" [errorMsg]="imageEmpty"></app-file-upload>
        
        <div class="form-group">
            <button type="submit" class="btn btn-primary">
                Criar carta
            </button>
        </div>
    </div>
</form>