<div class="jumbotron">
    Home
    <nav>
        <a routerLink="" routerLinkActive="active">Home</a>
        <a routerLink="/card/1" routerLinkActive="active">Card 1</a>
        <a routerLink="/card/2" routerLinkActive="active">Card 2</a>
        <a routerLink="/create" routerLinkActive="active">Create</a>
    </nav>
    <div class="container">
        <app-global-message></app-global-message>           
        <div>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>