<div class="row">
  <div class="col-md-2 col-lg-2 col-xs-3">
    <img class="doge" src="/assets/doge_2.png">
  </div>
  <div class="col-md-8 col-lg-8 col-xs-6 text-center">
      <h2 class="site_title">
        Toppers cards da galera!!  
      </h2>
      <h3 class="site_subtitle">
          <a routerLink="/card/create">Gostou?? Clique aqui e crie a sua!!</a>
      </h3>
  </div>

  <div class="col-md-2 col-lg-2 col-xs-3">
      <img class="left_image doge" src="/assets/doge_2.png">
  </div>  
</div>

<div *ngIf='cards' class="row text-center">
    <app-paginate 
    (goPage)="changePage($event)"
    (goNext)="nextPage()"
    (goPrev)="previousPage()"
    [pagesToShow]="10"
    [page]="currentPage"
    [totalItens]="cards.totalElements"
    [totalPages]="cards.totalPages"
    [loading]="loading"
    [firstPage]="cards.first"
    [lastPage]="cards.last">
    </app-paginate>
  </div>

<div *ngIf='cards' class="row">
  <div class="col-xs-6 col-md-3 text-center" *ngFor="let card of cards.content">
    <a routerLink="/card/{{card.id}}" class="thumbnail">
      <img [src]="utilService.apibaseurl+'/cardThumb/'+card.id">
    </a>
  </div>
</div>
<div *ngIf='!cards'>
  Loading...
</div>

<div *ngIf='cards' class="row text-center">
  <app-paginate 
  (goPage)="changePage($event)"
  (goNext)="nextPage()"
  (goPrev)="previousPage()"
  [pagesToShow]="10"
  [page]="currentPage"
  [totalItens]="cards.totalElements"
  [totalPages]="cards.totalPages"
  [loading]="loading"
  [firstPage]="cards.first"
  [lastPage]="cards.last">
  </app-paginate>
</div>