.thumbnail{
    margin-right: -15px;
    margin-left: -15px;
    padding-bottom: 147%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
}

.left_image {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.site_title {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    color: blueviolet;
    font-weight: bold;
}

.site_subtitle {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    color: blue;
    font-weight: bold;
}

.doge{
    max-width: 100%;
}